<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="icon" type="image/jpg" href="../static/images/perfil_linkedin.jpg">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <title>My Portfolio</title>
</head>
<body>
    <i class="bi bi-list menu-mobile"></i>

    <aside id="header">
        <section class="profile">
            <img src="../static/images/perfil_linkedin.jpg" alt="Foto do Pedro Paulo">
            <h1>Pedro Paulo</h1>
            <div class="social-links mt-4 text-center">
                <a target="_blank" href="https://www.linkedin.com/in/ppedrord/">
                    <i class="bi bi-linkedin"></i>
                </a>
                <a target="_blank" href="https://github.com/ppedrord">
                    <i class="bi bi-github"></i>
                </a>
            </div>
        </section>
        <nav id="navbar" class="nav-menu">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#home"><i class="bi bi-house"></i>Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#about"><i class="bi bi-person"></i>About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#skills"><i class="bi bi-list-check"></i>Skills</a>
              </li>
                <li class="nav-item">
                <a class="nav-link" href="#cv"><i class="bi bi-file-earmark"></i>CV</a>
              </li>
                <li class="nav-item">
                <a class="nav-link" href="#portfolio"><i class="bi bi-collection"></i>Portfolio</a>
              </li>
                <li class="nav-item">
                <a class="nav-link" href="#contacts"><i class="bi bi-envelope"></i>Contacts</a>
              </li>
            </ul>
        </nav>
    </aside>

    <main id="main">

        <section id="home" class="row m-0 p-0">
            <div class="col-md-5 d-flex justify-content-center align-items-center flex-column">
                <h2 class="text-white text-shadow">Pedro Paulo</h2>
                <span id="subtitle" class="text-white text-shadow">Student and Intern</span>
            </div>

            <div class="col-md-7 d-flex justify-content-end align-items-end">
                <div id="scroll" class="d-flex align-items-center">
                    <i class="bi bi-arrow-down text-white pe-2 fs-2" aria-hidden="true"></i>
                    <a href="#about">Scroll for more</a>
                </div>
            </div>
        </section>

        <section class="container mt-5" id="about">
            <div class="row w-100">
                <div class="col-md-12" data-animation="down">
                    <h2 class="pt-3">About</h2>
                    <p>Hello! Welcome to my website.</p>

                        <p>I truly believe that practice leads to improvement. Therefore, you should never stop working,
                            learning new things, because there will always be new things for us to learn. Driven by
                            curiosity and the desire to develop myself in different areas of knowledge, I have sought,
                            both in my academic and work journeys, to learn from the best with humility, add new ideas
                            to the market, being collaborative and resilient to achieve my goals and dreams.</p>

                </div>
            </div>

            <div class="row mt-4">
                <div class="col-md-4">
                    <img class="img-fluid shadow" src="../static/images/perfil_linkedin.jpg" alt="Foto do Pedro Paulo"
                    data-animation="left">
                </div>
                <div class="col-md-8" data-animatiom="right">
                    <h3 data-animation="right">Me</h3>
                    <div class="row mt-3 mb-3" data-animation="right">
                        <div class="col-md-6">
                            <ul class="list-group list-group-flush fs-6">
                                <li class="list-group-item">
                                    Birth: <span class="fw-lighter">October 29, 1999</span>
                                </li>
                                <li class="list-group-item">
                                    Age: <span class="fw-lighter"> 22 years</span>
                                </li>
                                <li class="list-group-item">
                                    City: <span class="fw-lighter">Campos dos Goytacazes</span>
                                </li>
                                <li class="list-group-item">
                                    State: <span class="fw-lighter">Rio de Janeiro</span>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <ul class="list-group list-group-flush fs-6">
                                <li class="list-group-item">
                                    Hobby: <span class="fw-lighter">Boxe</span>
                                </li>
                                <li class="list-group-item">
                                    Languages: <span class="fw-lighter">English and Portuguese</span>
                                </li>
                                <li class="list-group-item">
                                    Working at: <span class="fw-lighter">TITAN</span>
                                </li>
                                <li class="list-group-item">
                                    Current Position: <span class="fw-lighter">Intern</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row mt-3" data-animation="up">
                <div class="d-flex justify-content-center">
                    <div data-iframe-width="150" data-iframe-height="270" data-share-badge-id="90ec7b32-4c66-4e4a-8742-c8f2ed472afb" data-share-badge-host="https://www.credly.com"></div><script type="text/javascript" async src="//cdn.credly.com/assets/utilities/embed.js"></script>
                </div>
            </div>
        </section>

        <section class="mt-5 section-bg" id="skills">
            <div class="container pb-5">
                <h2 class="pt-5">Skills</h2>
                <p>As an intern and a student, I'm having the opportunity to learn and improve a full set of skills. Most
                    of them are listed bellow according to the knowledge level that I think I have on each one of
                    them:</p>

                <div class="row">
                    <div class="col-md-6">
                        <p class="mt-3 mb-0">PYTHON</p>
                        <div class="progress">
                          <div class="progress-bar" role="progressbar" style="width: 30%;" aria-valuenow="30"
                               aria-valuemin="0" aria-valuemax="100" data-animation="left">
                              30%
                          </div>
                        </div>
                        <p class="mt-3 mb-0">C/C++</p>
                        <div class="progress">
                          <div class="progress-bar" role="progressbar" style="width: 10%;" aria-valuenow="10"
                               aria-valuemin="0" aria-valuemax="100" data-animation="left">
                              10%
                          </div>
                        </div>
                        <p class="mt-3 mb-0">HTML</p>
                        <div class="progress">
                          <div class="progress-bar" role="progressbar" style="width: 10%;" aria-valuenow="10"
                               aria-valuemin="0" aria-valuemax="100" data-animation="left">
                              10%
                          </div>
                        </div>
                        <p class="mt-3 mb-0">CSS</p>
                        <div class="progress">
                          <div class="progress-bar" role="progressbar" style="width: 10%;" aria-valuenow="10"
                               aria-valuemin="0" aria-valuemax="100" data-animation="left">
                              10%
                          </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <p class="mt-3 mb-0">PYTEST</p>
                        <div class="progress">
                          <div class="progress-bar" role="progressbar" style="width: 50%;" aria-valuenow="50"
                               aria-valuemin="0" aria-valuemax="100" data-animation="left">
                              50%
                          </div>
                        </div>
                        <p class="mt-3 mb-0">PYMONGO</p>
                        <div class="progress">
                          <div class="progress-bar" role="progressbar" style="width: 30%;" aria-valuenow="30"
                               aria-valuemin="0" aria-valuemax="100" data-animation="left">
                              30%
                          </div>
                        </div>
                        <p class="mt-3 mb-0">FLASK</p>
                        <div class="progress">
                          <div class="progress-bar" role="progressbar" style="width: 45%;" aria-valuenow="45"
                               aria-valuemin="0" aria-valuemax="100" data-animation="left">
                              45%
                          </div>
                        </div>
                        <p class="mt-3 mb-0">GIT</p>
                        <div class="progress">
                          <div class="progress-bar" role="progressbar" style="width: 60%;" aria-valuenow="60"
                               aria-valuemin="0" aria-valuemax="100" data-animation="left">
                              60%
                          </div>
                        </div>
                    </div>
                    </div>

                <hr class = "w-50 me-auto ms-auto">

                <div class="row">
                    <div class="col-md-6">
                        <p class="mt-3 mb-0">PROACTIVITY</p>
                        <div class="progress">
                          <div class="progress-bar" role="progressbar" style="width: 98%;" aria-valuenow="98"
                               aria-valuemin="0" aria-valuemax="100" data-animation="left">
                              98%
                          </div>
                        </div>
                        <p class="mt-3 mb-0">ADAPTABILITY</p>
                        <div class="progress">
                          <div class="progress-bar" role="progressbar" style="width: 100%;" aria-valuenow="100"
                               aria-valuemin="0" aria-valuemax="100" data-animation="left">
                              100%
                          </div>
                        </div>
                        <p class="mt-3 mb-0">RESILIENCE</p>
                        <div class="progress">
                          <div class="progress-bar" role="progressbar" style="width: 98%;" aria-valuenow="98"
                               aria-valuemin="0" aria-valuemax="100" data-animation="left">
                              98%
                          </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <p class="mt-3 mb-0">PATIENCE</p>
                        <div class="progress">
                          <div class="progress-bar" role="progressbar" style="width: 80%;" aria-valuenow="80"
                               aria-valuemin="0" aria-valuemax="100" data-animation="left">
                              80%
                          </div>
                        </div>
                        <p class="mt-3 mb-0">COMMUNICATION</p>
                        <div class="progress">
                          <div class="progress-bar" role="progressbar" style="width: 100%;" aria-valuenow="100"
                               aria-valuemin="0" aria-valuemax="100" data-animation="left">
                              100%
                          </div>
                        </div>
                        <p class="mt-3 mb-0">CREATIVITY</p>
                        <div class="progress">
                          <div class="progress-bar" role="progressbar" style="width: 95%;" aria-valuenow="95"
                               aria-valuemin="0" aria-valuemax="100" data-animation="left">
                              95%
                          </div>
                        </div>
                    </div>
                </div>
            </div>

        </section>

        <section class="mt-5 cv" id="cv">

            <div class="container pb-5">
                <h2 class="pt-3 pb-4">CV</h2>

                <div class="row">
                    <div class="col-md-6">
                        <h3 class="cv-title">Education</h3>
                        <div class="cv-item" data-animation="up">
                            <h5>Control and Automation Engineering</h5>
                            <h6>2018-2024</h6>
                            <p><em>IFF- Instituto Federal Fluminense</em></p>
                            <p>Ongoing undergraduate degree in Control and Automation
                            Engineering, currently in 8th Period (out of 10).
                            I have developed manual skills with tools, improved working concentration for practical
                                activities and spatial vision. Besides, I was able to develop and improve programming
                                techniques, familiarity with industrial equipment and processes, and knowledge in the
                                area of control.</p>
                        </div>

                        <div class="cv-item" data-animation="up">
                            <h5>Technical Course in Chemistry</h5>
                            <h6>2016-2022</h6>
                            <p><em>IFF- Instituto Federal Fluminense</em></p>
                            <p>Ongoing technical Course in chemistry, 3rd/4th Module.
                                In the technical course’s laboratories I was able to put into practice the skills and
                                knowledge acquired, performing quantitative analysis, qualitative analysis, and
                                techniques to be developed in the microbiology laboratories.</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <h3 class="cv-title">Experience</h3>
                        <div class="cv-item" data-animation="up">
                            <h5>Intern and Software Tester</h5>
                            <h6>2022</h6>
                            <p><em>TITAN Tecnologia da Informação LTDA</em></p>
                            <p>My job’s goal is to prevent possible errors and edge cases to happen when someone is
                                interacting with a system. To reach the goal, I deliver new methods and techniques to
                                create more efficient unit tests for systems, using mainly the Python programming
                                language, and the Pytest unit testing framework. In parallel with these activities,
                                i have been learning about document databases such as MongoDB, and Python frameworks
                                such as Flask.</p>
                        </div>

                        <div class="cv-item" data-animation="up">
                            <h5>IT Technician and General Assistant</h5>
                            <h6>APRIL 2021 - JULY 2021</h6>
                            <p><em>SP Notebooks</em></p>
                            <p>I worked temporarily as a computer technician, further expanding my hardware and
                                software skills. I had daily contact with clients, which improved my ability to deal
                                with the most different audiences, adding clarity and objectivity to my speeches. </p>
                        </div>
                    </div>
                </div>
            </div>

        </section>

        <section class="section-bg mt-5" id="portfolio">
            <div class="container pb-5 pt-5" data-animation="left">

                <h2 class="pb-4">Portfolio</h2>

                <div id="carouselPortfolio" class="carousel carousel-dark slide" data-bs-ride="carousel">
                  <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselPortfolio" data-bs-slide-to="0" class="active"
                            aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselPortfolio" data-bs-slide-to="1"
                            aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselPortfolio" data-bs-slide-to="2"
                            aria-label="Slide 3"></button>
                  </div>
                  <div class="carousel-inner">
                    <div class="carousel-item active" data-bs-interval="10000">
                        <div class="col">
                            <div class="card">
                              <img src="../static/images/programming-challenges.png" class="card-img-top" alt="...">
                              <div class="card-body">
                                <h5 class="card-title">Programming Challenges</h5>
                                <p class="card-text">This is a Github repository with a few resolutions of challenges
                                give in the Codility and beecrowd platforms.</p>
                                  <div class="d-flex justify-content-center">
                                      <a href="https://ppedrord.herokuapp.com/portfolio/codility-challenges"
                                         target='_blank' class="btn btn-outline-primary"><i class="bi bi-link-45deg"></i></a>
                                  </div>
                              </div>
                            </div>
                          </div>
                    </div>
                    <div class="carousel-item" data-bs-interval="2000">
                        <div class="col">
                            <div class="card">
                              <img src="../static/images/Pytest%20FIXTURES%20-%20Pedro%20Paulo%20-%20EN.png"
                                   class="card-img-top" alt="...">
                              <div class="card-body">
                                <h5 class="card-title">Pytest Fixtures</h5>
                                <p class="card-text">This is a presentation that I prepared to present for my superior
                                at TITAN. In this presentation, I talked about the concepts of tests and fixtures using
                                a lot of references.</p>
                                  <div class="d-flex justify-content-center">
                                      <a href="https://ppedrord.herokuapp.com/fixtures" target='_blank'
                                         class="btn btn-outline-primary"><i class="bi bi-link-45deg"></i></a>
                                  </div>
                              </div>
                            </div>
                          </div>
                    </div>
                    <div class="carousel-item">
                        <div class="col">
                            <div class="card">
                              <img src="../static/images/mongoDB-logo.png" class="card-img-top" alt="...">
                              <div class="card-body">
                                <h5 class="card-title">MongoDB Project</h5>
                                <p class="card-text">This is a Github repository where I created a few methods using
                                    the Pymongo library and I used the Pytest Fixtures in my test cases.</p>
                                  <div class="d-flex justify-content-center">
                                      <a href="https://ppedrord.herokuapp.com/portolio/mongodb-project" target='_blank'
                                         class="btn btn-outline-primary"><i class="bi bi-link-45deg"></i></a>
                                  </div>
                              </div>
                            </div>
                          </div>
                    </div>
                  </div>
                  <button class="carousel-control-prev" type="button" data-bs-target="#carouselPortfolio" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                  </button>
                  <button class="carousel-control-next" type="button" data-bs-target="#carouselPortfolio" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                  </button>
                </div>

            </div>
        </section>

        <section class="pt-5 pb-5" id="contacts">

            <div class="container mb-5">
                <h2 class="pt-3 pb-3">Contacts</h2>

                <div class="row">

                <div class="col-md-5">
                    <div class="card p-5 shadow border-0" data-animation="up">
                        <div class="address">
                            <h4><i class="bi bi-geo-alt"></i>Location</h4>
                            <p>Campos dos Goytacazes, RJ</p>
                        </div>

                        <div class="email">
                            <h4><i class="bi bi-envelope"></i>E-mail</h4>
                            <p>pedropaulommb@gmail.com</p>
                        </div>

                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3705.325667365793!2d-41.323448285054674!3d-21.76765338560275!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xbdd44050287f0b%3A0xbbdde85ff116a44a!2sAv.%20Vinte%20e%20Oito%20de%20Mar%C3%A7o%20-%20Campos%20dos%20Goytacazes%2C%20RJ%2C%2028020-740!5e0!3m2!1sen!2sbr!4v1646267478081!5m2!1sen!2sbr" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                    </div>
                </div>

                <div class="col-md-7 mt-5 mt-md-0">
                    <div class="card p-5 h-100 shadow border-0" data-animation="left">

                        <form class="row g-3" action='/send' method="POST">
                              <div class="col-md-6">
                                <label for="name" class="form-label">Name:</label>
                                <input type="text" class="form-control" id="name" name="name"
                                placeholder="Type your message here" required>
                              </div>
                              <div class="col-md-6">
                                <label for="email" class="form-label">E-mail:</label>
                                <input type="email" class="form-control" id="email" name="email"
                                placeholder="Type your message here" required>
                              </div>
                              <div class="col-md-12">
                                  <label for="message" class="form-label">Message:</label>
                                  <textarea type="text" class="form-control" id="message" name="message" rows="10"
                                            placeholder="Type your message here" required></textarea>
                              </div>
                              <div class="col-12 d-flex justify-content-center mt-4">
                                  <button id="btn-submit" type="submit" class="btn btn-primary">Submit</button>
                                  <button id="btn-submit-loader" class="btn btn-primary" type="button" disabled>
                                      <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true">
                                      </span>Sending...</button>
                              </div>
                            </form>
                    </div>
                </div>

                </div>

            </div>

        </section>

        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <div id="alert" class="alert alert-success alert-dismissible fade show" role="alert">
            <i class="bi bi-check-circle-fill"></i> {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}

    </main>

    <footer id="footer">
        <div class="container">
            <div class="text-center">
                &copy; Copyright <strong>Pedro Paulo</strong>
            </div>
        </div>
    </footer>


    <script src="../static/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../static/script.js"></script>
</body>
</html>